In [2]:
import pandas as pd
submission = pd.read_csv("submission/sample_submission_fix.csv")

In [27]:
submission.Country.unique()

array(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'ABW',
       'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL',
       'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'VGB',
       'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CYM',
       'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COG', 'CRI', 'CIV', 'HRV',
       'CUB', 'CUW', 'CYP', 'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM',
       'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FRO',
       'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA',
       'GIB', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM', 'GGY', 'GIN', 'GNB',
       'GUY', 'HTI', 'VAT', 'HND', 'HUN', 'ISL', 'IND', 'IDN', 'IRN',
       'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN', 'JEY', 'JOR',
       'KAZ', 'KEN', 'XKX', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LBR',
       'LBY', 'LIE', 'LTU', 'LUX', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI',
       'MLT', 'MRT', 'MUS', 'MEX', 'MDA', 'MCO', 'MNG', 'MNE', 'MSR',
       'MAR', 'MOZ', 'MMR', 'NAM', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC',
       'NER', 'NGA', 'MKD', 'MNP', 'NOR', 'OMN', 'PAK', 'PSE', 'PAN',
       'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'ROU',
       'RUS', 'RWA', 'KNA', 'LCA', 'VCT', 'SMR', 'STP', 'SAU', 'SEN',
       'SRB', 'SYC', 'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SOM', 'ZAF',
       'KOR', 'SSD', 'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR',
       'TWN', 'THA', 'TLS', 'TGO', 'TTO', 'TUN', 'TUR', 'TCA', 'UGA',
       'UKR', 'ARE', 'GBR', 'TZA', 'USA', 'VIR', 'URY', 'UZB', 'VEN',
       'VNM', 'YEM', 'ZMB', 'ZWE'], dtype=object)

     Country        Date  Cases  Deaths
2394     KOR  2020-04-19      0       0
2395     KOR  2020-04-20      0       0
2396     KOR  2020-04-21      0       0
2397     KOR  2020-04-22      0       0
2398     KOR  2020-04-23      0       0
2399     KOR  2020-04-24      0       0
2400     KOR  2020-04-25      0       0
2401     KOR  2020-04-26      0       0
2402     KOR  2020-04-27      0       0
2403     KOR  2020-04-28      0       0
2404     KOR  2020-04-29      0       0
2405     KOR  2020-04-30      0       0
2406     KOR  2020-05-01      0       0
2407     KOR  2020-05-02      0       0