In [1]:
import pandas as pd

## Cumulative

__Confirmed cases__

In [165]:
cf = pd.read_csv("../Datasets/John_Hopkins/Raw/FIXED_time_series_covid19_confirmed_global.csv")

In [166]:
cf["Country/Region"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus',
       'Czechia', 'Faroe Islands', 'Greenland', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'New Caledonia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan',
       'Latvia', 'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malaysia', 'Maldives', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Aruba',
       'Curacao', 'Sint Maarten', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Bermuda',
       'Cayman Islands', 'United Kingdom', 'Gibraltar', 'Isle of Man',
       'Montserrat', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'West Bank and Gaza', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Kosovo', 'Burma',
       'British Virgin Islands', 'Turks and Caicos Islands', 'MS Zaandam',
       'Botswana', 'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan',
       'Western Sahara', 'Sao Tome and Principe', 'Yemen'], dtype=object)

In [167]:
cf = cf.drop(columns=['Province/State', 'Lat', 'Long'])
cf = cf.groupby('Country/Region').sum() 
cf.head(5)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,444,484,521,555,607,665,714,784,840,906
Albania,0,0,0,0,0,0,0,0,0,0,...,400,409,416,433,446,467,475,494,518,539
Algeria,0,0,0,0,0,0,0,0,0,0,...,1572,1666,1761,1825,1914,1983,2070,2160,2268,2418
Andorra,0,0,0,0,0,0,0,0,0,0,...,564,583,601,601,638,646,659,673,673,696
Angola,0,0,0,0,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,19

In [168]:
cf = cf.transpose()

In [169]:
cf.index.names = ['Date']
cf.columns.names = [""]

In [170]:
cf.head(20)

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,4,...,0,0,0,0,2,0,0,0,0,0
1/27/20,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,2,0,0,0,0,0
1/28/20,0,0,0,0,0,0,0,0,0,5,...,0,0,0,0,2,0,0,0,0,0
1/29/20,0,0,0,0,0,0,0,0,0,6,...,0,0,0,0,2,0,0,0,0,0
1/30/20,0,0,0,0,0,0,0,0,0,9,...,0,0,0,0,2,0,0,0,0,0
1/31/20,0,0,0,0,0,0,0,0,0,9,...,2,0,0,0,2,0,0,0,0,0
2/1/20,0,0,0,0,0,0,0,0,0,12,...,2,0,0,0,6,0,0,0,0,0
2/2/20,0,0,0,0,0,0,0,0,0,12,...,2,0,0,0,6,0,0,0,0,0
2/3/20,0,0,0,0,0,0,0,0,0,12,...,2,0,0,0,8,0,0,0,0,0
2/4/20,0,0,0,0,0,0,0,0,0,13,...,2,0,0,0,8,0,0,0,0,0
2/5/20,0,0,0,0,0,0,0,0,0,13,...,2,0,0,0,8,0,0,0,0,0
2/6/20,0,0,0,0,0,0,0,0,0,14,...,2,0,0,0,10,0,0,0,0,0
2/7/20,0,0,0,0,0,0,0,0,0,15,...,3,0,0,0,10,0,0,0,0,0
2/8/20,0,0,0,0,0,0,0,0,0,15,...,3,0,0,0,13,0,0,0,0,0
2/9/20,0,0,0,0,0,0,0,0,0,15,...,3,0,0,0,13,0,0,0,0,0
2/10/20,0,0,0,0,0,0,0,0,0,15,...,8,0,0,0,14,0,0,0,0,0

In [171]:
cf.to_csv("../Datasets/John_Hopkins/Clean/confirmed_cumulative.csv")

__Deaths and Recovered__

In [172]:
df = pd.read_csv("../Datasets/John_Hopkins/Raw/FIXED_time_series_covid19_deaths_global.csv")
rf = pd.read_csv("../Datasets/John_Hopkins/Raw/FIXED_time_series_covid19_recovered_global.csv")

In [173]:
df = df.drop(columns=['Province/State', 'Lat', 'Long'])
df = df.groupby('Country/Region').sum() 
df = df.transpose()
df.index.names = ['Date']
df.columns.names = [""]

In [174]:
rf = rf.drop(columns=['Province/State', 'Lat', 'Long'])
rf = rf.groupby('Country/Region').sum() 
rf = rf.transpose()
rf.index.names = ['Date']
rf.columns.names = [""]

In [175]:
df.head(10)

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/27/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/28/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/29/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/30/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/31/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [176]:
df["Italy"]

Date
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
1/27/20        0
1/28/20        0
1/29/20        0
1/30/20        0
1/31/20        0
2/1/20         0
2/2/20         0
2/3/20         0
2/4/20         0
2/5/20         0
2/6/20         0
2/7/20         0
2/8/20         0
2/9/20         0
2/10/20        0
2/11/20        0
2/12/20        0
2/13/20        0
2/14/20        0
2/15/20        0
2/16/20        0
2/17/20        0
2/18/20        0
2/19/20        0
2/20/20        0
           ...
3/19/20     3405
3/20/20     4032
3/21/20     4825
3/22/20     5476
3/23/20     6077
3/24/20     6820
3/25/20     7503
3/26/20     8215
3/27/20     9134
3/28/20    10023
3/29/20    10779
3/30/20    11591
3/31/20    12428
4/1/20     13155
4/2/20     13915
4/3/20     14681
4/4/20     15362
4/5/20     15887
4/6/20     16523
4/7/20     17127
4/8/20     17669
4/9/20     18279
4/10/20    18849
4/11/20    19468
4/12/20    19899
4/13/20    20465
4/14/20    21067
4/15/20    21645
4/16/20    22170
4/17/20    22745
Name: Italy, Length: 87, dtype: int64

In [177]:
rf.head(10)

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/27/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/28/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/29/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/30/20,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1/31/20,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [178]:
rf['Italy']

Date
1/22/20        0
1/23/20        0
1/24/20        0
1/25/20        0
1/26/20        0
1/27/20        0
1/28/20        0
1/29/20        0
1/30/20        0
1/31/20        0
2/1/20         0
2/2/20         0
2/3/20         0
2/4/20         0
2/5/20         0
2/6/20         0
2/7/20         0
2/8/20         0
2/9/20         0
2/10/20        0
2/11/20        0
2/12/20        0
2/13/20        0
2/14/20        0
2/15/20        0
2/16/20        0
2/17/20        0
2/18/20        0
2/19/20        0
2/20/20        0
           ...
3/19/20     4440
3/20/20     4440
3/21/20     6072
3/22/20     7024
3/23/20     7024
3/24/20     8326
3/25/20     9362
3/26/20    10361
3/27/20    10950
3/28/20    12384
3/29/20    13030
3/30/20    14620
3/31/20    15729
4/1/20     16847
4/2/20     18278
4/3/20     19758
4/4/20     20996
4/5/20     21815
4/6/20     22837
4/7/20     24392
4/8/20     26491
4/9/20     28470
4/10/20    30455
4/11/20    32534
4/12/20    34211
4/13/20    35435
4/14/20    37130
4/15/20    38092
4/16/20    40164
4/17/20    42727
Name: Italy, Length: 87, dtype: int64

In [179]:
df.to_csv("../Datasets/John_Hopkins/Clean/deaths_cumulative.csv")

In [180]:
rf.to_csv("../Datasets/John_Hopkins/Clean/recovered_cumulative.csv")

## Daily Increase

In [181]:
cff = cf.diff()
cff.fillna(0, inplace=True)

In [182]:
cff.head(5)

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [183]:
dff = df.diff()
dff.fillna(0, inplace=True)
rff = rf.diff()
rff.fillna(0, inplace=True)

In [184]:
rff.to_csv("../Datasets/John_Hopkins/Clean/recovered_daily.csv")
dff.to_csv("../Datasets/John_Hopkins/Clean/deaths_daily.csv")
cff.to_csv("../Datasets/John_Hopkins/Clean/confirmed_daily.csv")