In [1]:
import pandas as pd

In [4]:
cases = pd.read_csv("../cases.csv", parse_dates=True)

In [5]:
deaths = pd.read_csv("../deaths.csv", parse_dates=True)

In [9]:
cases.sort_values("Date")

     Country        Date  Cases
0        LVA  2020-04-19     13
1722     SVK  2020-04-19      0
364      MLI  2020-04-19     20
2800     VGB  2020-04-19      0
1736     GUY  2020-04-19      1
2702     SSD  2020-04-19      0
1750     AUT  2020-04-19     21
350      LBY  2020-04-19      6
1708     BRA  2020-04-19   1459
1764     CAN  2020-04-19    383
336      ARE  2020-04-19    698
1792     UZB  2020-04-19    238
1806     SWE  2020-04-19    671
1820     XKX  2020-04-19     68
322      KWT  2020-04-19    233
1834     MSR  2020-04-19      1
1848     NAM  2020-04-19      1
1778     FRA  2020-04-19   4260
1862     SDN  2020-04-19      7
756      HND  2020-04-19      0
1694     MNE  2020-04-19      8
1540     CUW  2020-04-19      0
434      AUS  2020-04-19     39
2716     MRT  2020-04-19      0
1554     ISL  2020-04-19     74
1568     MUS  2020-04-19     26
420      BRN  2020-04-19      3
1582     ERI  2020-04-19      1
378      LUX  2020-04-19      0
1596     LAO  2020-04-19      2
...      ...         ...    ...
1371     HTI  2020-05-02      1
1357     BLZ  2020-05-02      1
1343     BEL  2020-05-02    610
1329     EST  2020-05-02     13
1469     SWZ  2020-05-02      0
2631     JPN  2020-05-02    953
1637     BEN  2020-05-02      0
1665     PAK  2020-05-02    407
1945     AGO  2020-05-02      0
1931     ARM  2020-05-02     12
1917     RUS  2020-05-02  17692
1903     AFG  2020-05-02     54
1889     SYR  2020-05-02      1
1875     SDN  2020-05-02      9
1861     NAM  2020-05-02      0
1847     MSR  2020-05-02      0
1833     XKX  2020-05-02    144
1651     JOR  2020-05-02      1
1819     SWE  2020-05-02    577
1791     FRA  2020-05-02   1152
1777     CAN  2020-05-02    587
1763     AUT  2020-05-02     17
1749     GUY  2020-05-02      2
1735     SVK  2020-05-02     41
1721     BRA  2020-05-02   2715
1707     MNE  2020-05-02      1
1693     LIE  2020-05-02      0
1679     OMN  2020-05-02    413
1805     UZB  2020-05-02    354
2827     VAT  2020-05-02      0

[2828 rows x 3 columns]

In [14]:
deaths = deaths.sort_values(["Date", "Country"])
cases = cases.sort_values(["Date", "Country"])

In [16]:
deaths.head(5)

     Country        Date  Deaths
1316     ABW  2020-04-19       0
560      AFG  2020-04-19       3
2198     AGO  2020-04-19       0
448      ALB  2020-04-19       0
98       AND  2020-04-19       0

In [15]:
cases.head(5)

     Country        Date  Cases
1526     ABW  2020-04-19      0
1890     AFG  2020-04-19     74
1932     AGO  2020-04-19      2
1064     ALB  2020-04-19      0
1498     AND  2020-04-19      2

In [20]:
deaths = deaths.reset_index(drop=True)
cases = cases.reset_index(drop=True)

In [23]:
deaths = deaths.drop(columns=["Country", "Date"])

In [25]:
df = deaths.join(cases)

In [29]:
df.to_csv("../final.csv", index=False)